<section class="contenedor-main">
    <div class="card-main">
        <div>
            <img class="mx-auto h-20 rounded-full w-auto" src="https://github.com/Hithel.png" alt="img user">
            <h2 class="mt-6 text-center text-2xl font-medium">Autenticación y Rutas Protegidas</h2>
            <div class="text-center mt-2">
                <p>test&#64;example.com</p>
                <p>123456</p>
            </div>
        </div>

        <form class="mt-8 flex flex-col gap-4" (ngSubmit)="onSubmit()" [formGroup]="form">
            <div>
                <label for="email" class="sr-only">Correo</label>
                <input 
                    class="border border-zinc-400 px-4 py-2 relative block w-full rounded-xl outline-none"
                    formControlName="email"
                    id="email"
                    name="email"
                    type="email"
                    autocomplete="email"
                    placeholder="Correo"
                    required
                />
            </div>
            <div>
                <label for="password" class="sr-only">Contraseña</label>
                <input 
                    class="border border-zinc-400 px-4 py-2 relative block w-full rounded-xl outline-none"
                    formControlName="password"
                    id="password"
                    name="password"
                    type="password"
                    autocomplete="current-password"
                    placeholder="Contraseña"
                    required
                />
            </div>
            <div>    
                <button
                    class="btn-secondary w-full"
                    type="submit"
                    [disabled]="form.invalid"
                >Iniciar Sesión</button>
            </div>
        </form>

       

    </div>
</section>
